<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SilverApplesWebServiceConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SilverApplesWebServiceConsole.Properties.Settings>
            <setting name="SilverApplesWebServiceConsole_SilverApples_Controller"
                serializeAs="String">
                <value>http://localhost:56789/Controller.asmx</value>
            </setting>
        </SilverApplesWebServiceConsole.Properties.Settings>
    </applicationSettings>
</configuration>